.main {
  min-height: 100vh;
  padding: 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1520' preserveAspectRatio='none' viewBox='0 0 1920 1520'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1157%26quot%3b)' fill='none'%3e%3crect width='1920' height='1520' x='0' y='0' fill='rgba(240%2c 242%2c 243%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c877.805C162.335%2c889.445%2c235.549%2c666.978%2c366.748%2c570.671C486.922%2c482.457%2c672.092%2c470.773%2c737.195%2c336.665C802.347%2c202.455%2c707.255%2c48.908%2c692.088%2c-99.507C676.099%2c-255.966%2c735.11%2c-430.101%2c645.617%2c-559.431C554.667%2c-690.867%2c383.74%2c-742.314%2c226.698%2c-772.063C79.106%2c-800.022%2c-66.45%2c-759.177%2c-211.964%2c-721.884C-362.602%2c-683.278%2c-550.528%2c-680.983%2c-635.887%2c-550.999C-721.973%2c-419.907%2c-618.355%2c-246.727%2c-626.833%2c-90.125C-634.294%2c47.703%2c-742.211%2c187.24%2c-682.59%2c311.729C-622.94%2c436.278%2c-440.736%2c432.241%2c-334.438%2c520.395C-206.25%2c626.702%2c-166.107%2c865.895%2c0%2c877.805' fill='%23e3e6e8'%3e%3c/path%3e%3cpath d='M1920 2465.081C2099.255 2490.218 2293.322 2432.251 2430.004 2313.582 2561.05 2199.806 2579.389 2010.715 2633.323 1845.7640000000001 2681.091 1699.672 2751.676 1555.688 2727.442 1403.907 2703.375 1253.17 2593.888 1137.6970000000001 2500.937 1016.615 2402.151 887.931 2321.271 728.525 2168.051 675.216 2013.041 621.285 1837.589 663.939 1689.274 734.22 1552.855 798.864 1481.529 940.534 1377.433 1049.863 1267.0520000000001 1165.7930000000001 1067.951 1236.382 1058.979 1396.204 1049.8490000000002 1558.846 1257.158 1644.164 1336.0720000000001 1786.671 1406.312 1913.5149999999999 1399.734 2072.478 1494.321 2182.37 1607.738 2314.138 1747.828 2440.937 1920 2465.081' fill='%23fdfefe'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1157'%3e%3crect width='1920' height='1520' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.Card,
.CardPractice {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(240, 240, 238, 0.25);
  backdrop-filter: blur(4px);
}

.CardPractice {
  border-color: rgba(138, 43, 226, 0.1);
  background-color: rgba(43, 226, 116, 0.05);
}

.Card_header,
.Card_main,
.Card_footer {
  font-family: Jura;
  padding: 10px 20px;
}

.Card_header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.Card_main {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.Card_cardTypes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card_cardTypesList {
  display: flex;
  list-style: none;
  padding: 0;
}

.Card_cardTypesList > li {
  padding: 0;
  font-size: 32px;
  line-height: 14px;
  margin-right: 1px;
}

.Card_title {
  margin: 0;
  padding: 1.5rem 0;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  flex: 1;
}

.Card_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}

.Tag {
  background-color: rgba(34, 106, 34, 0.7);
  padding: 4px 12px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  user-select: none;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(220, 220, 220, 0.1);
}

.Button:hover > svg {
  stroke: rgb(49, 49, 183);
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.Card_title:hover,
.Button:hover {
  cursor: pointer;
}
